In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('Value_of_Energy_Cost_Savings_Program_Savings_for_Businesses_-_FY2020.csv')

In [4]:
df['Company Name'].nunique()

439

In [5]:
df[df['Borough']=='Queens']['Job created'].sum()

102.0

In [6]:
df['domains'] = df['company email'].str.split('@',1).str[1]

In [7]:
df.head()
# df['domains'].isna().sum()
df['domains'].count()
df['domains'].nunique()
# df.info()

356

In [9]:
df_new =df[df['NTA'].isin(df['NTA'].value_counts()[df['NTA'].value_counts() > 5].index)].groupby('NTA', as_index=False)[['Total Savings']].mean()
df_new_1 =df[df['NTA'].isin(df['NTA'].value_counts()[df['NTA'].value_counts() > 5].index)].groupby('NTA', as_index=False)[['Job created']].sum()
df_new = df_new.join(df_new_1.set_index('NTA'), on = 'NTA')
df_new.columns = ['NTA','avgtotalsavings','jobcreated']
df_new.to_csv('day4.csv')

In [10]:
df_new

,NTA,avgtotalsavings,jobcreated
0,Battery Park City-Lower Manhattan,469890.796667,0.0
1,Bushwick South,26140.455000,10.0
2,Carroll Gardens-Columbia Street-Red Hook,24337.390000,0.0
3,College Point,17159.372857,2.0
4,Crown Heights North,4036.298889,0.0
5,DUMBO-Vinegar Hill-Downtown Brooklyn-Boerum Hill,59950.340000,0.0
6,East New York,48433.093333,15.0
7,East Williamsburg,13990.626364,0.0
8,Greenpoint,9753.649286,0.0
9,Hunters Point-Sunnyside-West Maspeth,23931.398933,0.0
10,Hunts Point,39246.016154,12.0
11,Manhattanville,2760.888889,0.0
12,Maspeth,6658.283333,10.0
13,Mott Haven-Port Morris,17843.937857,10.0
14,Queensbridge-Ravenswood-Long Island City,61830.770625,0.0
15,Steinway,11227.155714,20.0
16,Sunset Park West,14316.976875,0.0
17,park-cemetery-etc-Brooklyn,14327.419333,0.0